:root {
  --white-color: #f5f3e8;
  --black-color: #214842;
  --green-color: #258f67;
  --yellow-color: #efc368;
  --gray-color: #9ebca6;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}
